.textArea{
    
    height: 15.625rem;
    width: 100%;
    margin-block: 2rem;
    margin-inline: auto;
    background-color: #D3ECDD;
    border: 1px solid #D3ECDD;
    resize: none;
    padding: 0.313rem;
    outline: none;
}
