.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.logo {
    display: flex;
    margin-inline-end: 1;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    margin-inline: 2.25rem;
    margin-block: 2.25rem;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    @media (max-width: 1024px) {
        display: none;
    }
}

.menuIcon {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}

.content {
    margin-block: 3rem;
    margin-inline: 7.5rem;

    @media (max-width: 767px) {
        margin-inline: 2rem;
    }
}